
<ion-content [fullscreen]="true" [scrollEvents]="true">
  
  <router-outlet>
    <ion-icon name="arrow-back-outline" class="ion-padding" (click)="back()"></ion-icon>
  </router-outlet>

  <div class="main-section">

    <h3 class="ion-padding">QR Scanner</h3>

  <ion-button expand="full" [hidden]="scanActive" (click)="startScan()">
    Start scan
  </ion-button>
   
  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>
  
  <ion-button expand="full" (click)="stopScan()" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>

  <video #video 
    [hidden]="!scanActive" width="100%">
  </video>
  <canvas #canvas hidden></canvas>

  <ion-card *ngIf="scanComplete">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>

    <ion-searchbar hidden
        [(ngModel)]="ICsearch"
    ></ion-searchbar>

    <ion-item *ngFor="let vaksin of notes | filter:ICsearch">
      <ion-card-content>
        <h1>{{vaksin.nama}}</h1>
        <p>{{vaksin.ic}}</p>
        <p>{{vaksin.status}}</p>
        </ion-card-content>
    </ion-item> 
    
    <ion-item *ngIf="(notes | filter: ICsearch).length == 0">
      <p>Tiada dlm database</p>
    </ion-item>
    
  </ion-card>
  
  <ion-card *ngIf="scanRejectedOut">
  
    <ion-card-content>
      <h1>{{scanRejected}}</h1>
    </ion-card-content>

  </ion-card>
  
  
  </div>
</ion-content>
