<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar class="custom-font">
        <ion-icon class="ion-padding" name="log-in-outline" (click)="removeKey('ic')"></ion-icon>
        <ion-icon name="scan-outline" slot="end" class="ion-padding" animated="true" (click)="scanAlert()" >Scan QR</ion-icon>
    </ion-toolbar>
  </ion-header>


  <div class="div">

    <h3 class="custom-font">Home</h3>

    <div>
      <ion-card>
      <h5 class="custom-font">
         Hi, this is your homepage. Click the button below to show your QR code.
         <br>
         <br>
         <br>
      </h5>
    </ion-card>
    </div>

    <ion-button class="custom-font" fill="clear" (click)="generate()" *ngIf="!generated">
      
      <b>SHOW QR
      <br>
      click here</b>
      
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    </ion-button>

    <ion-card class="card" *ngIf="generated">
      <ion-card-header>
        <ion-card-title><b>Scan here</b></ion-card-title>
        <ion-text>
          <p>This is your QR, show this code to the examiner to identify your vaccination status in the database.</p>
        </ion-text>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="generated"></ion-img>    
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <p class="ion-text-center custom-font">This is a FYP2 project for FSTM <br> session II 2021/2022
    <a href="https://github.com/ridhvvn/vaxpass.git">Git

    </a>
  </p>
</ion-footer>
