
<ion-content [fullscreen]="true" [scrollEvents]="true">
  
  <div class="main-section">

    <h3 class="ion-padding">Home</h3>

    <div>
      <h1 class="ion-padding">Hello

         {{data.ic}}
         
         , this is your homepage. Show this QR to the examiner.</h1>

    </div>
    <ion-card>

      <ion-item>
        <ion-label position="floating">No. IC</ion-label>
        <ion-input [(ngModel)]="IC">
        </ion-input>
      </ion-item>

    </ion-card>
    <ion-card>
      <ion-button fill="clear" expand="full" (click)="generate()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Generate QR
      </ion-button>
    </ion-card>

    <ion-button fill="clear" expand="full" (click)="removeKey('ic')">New User</ion-button>

    <ion-card *ngIf="generated">
      <ion-card-header>
        <ion-card-title>QR Code</ion-card-title>
        <ion-text color="primary">
          <p>This is your QR</p>
        </ion-text>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="generated"></ion-img>    
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
