
<ion-content [fullscreen]="true" [scrollEvents]="true">

  <router-outlet>
    <ion-icon name="log-in-outline" class="ion-padding" (click)="removeKey('ic')">change IC</ion-icon>
  </router-outlet>

  <router-outlet>
    <ion-icon name="scan-outline" class="ion-padding" animated="true" routerLink="/tab2">Scan QR</ion-icon>
  </router-outlet>

  <div class="main-section">

    <h3 class="ion-padding">Home</h3>

    <div>
      <h1 class="ion-padding">Hello

         {{data.ic}}
         
         , this is your homepage. Show this QR to the examiner.</h1>

    </div>
   
    <ion-card>
      <ion-button fill="clear" expand="full" (click)="generate()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Show QR
      </ion-button>
    </ion-card>

    <ion-card *ngIf="generated">
      <ion-card-header>
        <ion-card-title>QR Code</ion-card-title>
        <ion-text color="primary">
          <p>This is your QR</p>
        </ion-text>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="generated"></ion-img>    
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
