<ion-content>
 <!-- <router-outlet>
    <ion-icon name="arrow-back-outline" class="ion-padding" routerLink="/tabs/tab1"></ion-icon>
  </router-outlet>
  -->

  <div class="main-section">

    <h3 class="ion-padding">Login</h3>

      <ion-card>
        <ion-item>
          <ion-label position="floating">No. IC</ion-label>
          <ion-input [(ngModel)]="ic"></ion-input>
        </ion-item>
      </ion-card>

      <ion-button fill="clear" expand="full" (click)="insertValue()">Login</ion-button>

      <ion-card *ngIf = "value">
        <ion-card-header>
            <ion-card-title>Stored Data
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>IC</strong>: {{data.ic}}</p>
        </ion-card-content>

        <ion-button fill="clear" expand="full" (click)="removeKey('ic')">Clear Data</ion-button>

      </ion-card>
   
  </div>
  </ion-content>