<ion-content>
  <router-outlet>
    <ion-icon name="arrow-back-outline" class="ion-padding" routerLink="/tabs/tab1"></ion-icon>
  </router-outlet>

  <div class="main-section">

    <h3 class="ion-padding">Search Data</h3>

    <div class="form ion-padding ion-margin">

      <ion-searchbar
        showCancelButton="focus"
        [(ngModel)]="filterTerm"
        animated="true"
      ></ion-searchbar>

      <ion-list lines="none">
        <ion-item *ngFor="let vaksin of notes | filter:filterTerm" (click)="openNote(note)">
          <ion-card-content>
            <h1>{{vaksin.nama}}</h1>
            <p>{{vaksin.ic}}</p>
            <p>{{vaksin.status}}</p>
            </ion-card-content>
        </ion-item>
      </ion-list>

    </div>
  </div>
  </ion-content>