<ion-content>
 <!-- <router-outlet>
    <ion-icon name="arrow-back-outline" class="ion-padding" routerLink="/tabs/tab1"></ion-icon>
  </router-outlet>
  -->

  <div class="main-section">

    <h3 class="ion-padding">Login</h3>

      <ion-card>
        <form [formGroup]="ICformGroup" (ngSubmit)="submitForm()" novalidate>

        <ion-item>
          <ion-label position="floating">Masukkan IC :</ion-label>
          <ion-input formControlName="formIC" clear-on-edit=true></ion-input>
        </ion-item>
        
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formIC.errors?.required">
          IC is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formIC.errors?.minlength">
          IC should be 12 digit long.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formIC.errors?.pattern">
          IC should be Number.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formIC.errors?.maxlength">
          IC should be 12 digit long.
        </span>

        <ion-button fill="clear" expand="full" type="submit">Login</ion-button>

        </form>
      </ion-card>

  </div>
  </ion-content>